<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-07-08T11:43:11Z</date>
	<key>WorkspacePath</key>
	<string>/Users/habibakbari/Documents/Programing/Project/Swift/MyMoviesList/My Movies List.xcodeproj</string>
</dict>
</plist>
